
// Tipografias

$title-text: 'Playfair Display', serif;
$body-text: 'Raleway', sans-serif;


// Colores

$blanco : #fdfdfd;
$rosado: #f56a95;
$violeta: #232766;
$oscuro: #303538;
$gradient-one: linear-gradient(to right, #eb7999 0%,#f9c8b7 100%);


// Sombras

$short_shadow: 0px 4px 14px rgba(0,0,0,0.3);
$medium_shadow: 0px 4px 6px rgba(0,0,0,0.2);
$long_shadow: 0px 6px 16px rgba(0,0,0,0.5);


// Transiciones

$transition-one: ease-in-out .3s;


// Fisico

$padding: 0px 18px;