// EStilos botones

.primary_btn, .secondary_btn, .terciary_btn{
    width: 80%;
    display: inline-block;
    padding: 14px 0px;
    margin-bottom: 30px;
    border-radius: 2px;
    font-family: $body-text;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: $transition-one;
}

.secondary_btn{
    background-color: $blanco;
    border: 2px solid $oscuro;
    color: $oscuro;
    &:hover{
        box-shadow: $short_shadow;
    }
}

.primary_btn, .terciary_btn{
    border: 2px solid transparent;
    box-shadow: $short_shadow;
    &:hover{
        box-shadow: $long_shadow;
    }
}

.primary_btn{
    background-color: $rosado;
    color: $blanco;
}

.terciary_btn{
    background-color: $blanco;
    color: $oscuro;
}