
.tarjetas{
    width: 100%;
    padding: 0px 0px 60px 70px;
    display: flex;
    flex-direction: column;
    .imagen_tarjeta{
        width: 100%;
        height: 40vh;
        background-color: #b6b6b6;
        position: relative;
        //z-index: -1;
    }
    .a01{
        background-image: url(../../media/imagenes/image.png);
        background-size: cover;
        background-position: center ;
        background-repeat: no-repeat;
    }
    .a02{
        //background-image: url(../../media/imagenes/image.jpg);
        background-size: cover;
    }
    .texto_tarjeta{
        margin-top: -20px;
        padding-right: 20px;
        position: relative;
        .titulo_tarjeta{
            font-size: 40px;
        }
    }
}

.tarjetas_izq{
    padding: 0px 70px 60px 0px;
}

.texto_tarjeta_izq{
    padding-left: 20px;
    padding-right: 0px !important;
    text-align: end;
    position: relative;
    &::before{
        content: "";
        width: 90px;
        height: 5px;
        background-color: $violeta ;
        position: absolute;
        top: -30px;
        right: -20px;
    }
}

.texto_tarjeta_der{
    &::before{
        content: "";
        width: 90px;
        height: 5px;
        background-color:  $violeta ;
        position: absolute;
        top: -30px;
        left: -20px;
    }
}
